.Box_home{
 height: 7rem;
 width: auto;
 display: contents;
 justify-content: center;
 align-items: center;
}

.upload_icon{
    align-self: center;
    height: 5rem;
    width: 2rem;
    fill: rgb(9, 212, 243)
}

.upload_icon:hover{
    fill: rgb(51, 179, 199);
    cursor: pointer;
}


img{
    height: auto;
    width: auto;
    place-self: "center"
}

@media only screen and (max-width: 600px) {
    .Box_home{
        padding-top: 10px;
    }
  } 